<% if action == :edit %>
    <% action_url = band_url(band) %>
    <% button_text = "Update band" %>
<% else %>
    <% action_url = bands_url %>
    <% button_text = "Add band" %>
<% end %>

<form action="<%= action_url %>" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <%# Override method if editing user %>
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <%# Name %>
  <label for="name">Name</label>
  <input id="name" type="text" name="band[name]" value="<%= band.name %>">

  <br><br>
  <input type="submit" value="<%= button_text %>">
</form>