<h1><%= @band.name %></h1>

<a href="<%= bands_url %>">Home</a>
<br>
<a href="<%= edit_band_url %>">Edit band</a>
<br>
<form action="<%= band_url(@band.id) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete band">
</form>
